body{
        margin: 0;
        }
        .header {
        padding: 50px 100px;
           font-family: 'Open Sans', sans-serif;
            letter-spacing: -1px;
            line-height: 1.7;
            text-align: justify;
            font-size: 12px;
            color: #412313;
            color: rgba(65, 199,120,0.5)

        }
            .content{
                display: flex;
                display: -webkit-flex;
                flex-wrap:  wrap;
                -webkit-flex-wrap:wrap;
            }

            .content .item{
                width: 50%;
            }
            .content .item img{
            width:100%;
            vertical-align: top;
            }

            .container {
            margin: 0 auto;
            max-width: 960px;


            }
